<!-- FOOTER -->
    <footer>
        <nav class="navbar fixed-bottom navbar-dark bg-dark">
            <h6 class="navbar-text m-auto">&copy; Copyright 2025. All rights reserved</h6>
        </nav>
    </footer>

    <script src="/Script/recipe_manager.js"></script>
</body>
</html> 
